{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    {{ movie.name }} <br>
    {{ movie.duration }} <br>
    <br>
    <a href="{{ path('movie_update', {'id': movie.id}) }}">Editer</a>
{% endblock %}
