{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    {{ movie.name }} <br>
    {{ movie.duration }} <br>
    <img src="{{ vich_uploader_asset(movie, 'coverFile') }}" alt="">
    <br>
    <a href="{{ path('back_movie_update', {'id': movie.id}) }}">Editer</a>
{% endblock %}
